<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Portal de noticias</title>
		</head>
	<body>

		<h1>Bem vindo a pagina inicial</h1>
		<h3><a href="http://localhost:3000/noticias">NOTICIAS</a></h3>
		<h3><a href="http://localhost:3000/noticia">NOTICIA</a></h3>
		<h3><a href="http://localhost:3000/formulario_inclusao_noticia">FORMULARIO INCLUSAO NOTICIA</a></h3>
		 
		

	</body>
</html>